# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.deps/
Makefile
Makefile.in
aclocal.m4
autogen.sh
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
confpaths.h
depcomp
install-sh
missing
nct
stamp-h1
